:root {
  --very--dark--magenta: hsl(300, 43%, 22%);
  --soft--pink: hsl(333, 80%, 67%);
  --dark--grayish--magenta: hsl(303, 10%, 53%);
  --light--grayish--magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
  --primary-font: 'Spartan', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  padding: 80px 24px 100px;
}

@media screen and (min-width: 768px) {
  
}

body::before,
body::after {
  position: absolute;
}

body::before {
  top: 0;
  left: 0;
  content: url(../images/bg-pattern-top-mobile.svg);
}

@media screen and (min-width: 768px) {
  body::before {
    content: url(../images/bg-pattern-top-desktop.svg);
  }
}

body::after {
  
}

body, p, blockquote {
  margin: 0;
}

.main-header {
  text-align: center;
  margin-bottom: 32px;
}

.main-header .title {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: -3px;
  line-height: 32px;
  margin: 0 0 32px;
  padding: 0 16px;
  color: var(--very--dark--magenta);
}

.main-header .description {
  font-size: 15px;
  line-height: 1.75;
  font-weight: 500;
  color: var(--dark--grayish--magenta);
  letter-spacing: -1px;
}

/* Rates */

.rates-container {
  margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .rates-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.rate {
  text-align: center;
  padding: 1rem;
  background-color: var(--light--grayish--magenta);
}

@media screen and (min-width: 768px) {
  .rate {
    width: 300px;
  }

  .rate:first-child {
    margin-right: 1rem;
  }
}

.rate:not(:last-child) {
  margin-bottom: 1rem;
}

.rate .stars-container {
  margin-bottom: .5rem;
}

.rate .rating {
  color: var(--very--dark--magenta);
  font-size: 13px;
  font-weight: 700;
}

.rate .star {
  width: 1rem;
}

/* Testimonials */

.testimonials-container {
  
}

@media screen and (min-width: 768px) {
  .testimonials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.testimonial {
  background-color: var(--very--dark--magenta);
  padding: 2rem;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .testimonial {
    width: calc(50% - .5rem);
    text-align: left;
  }

  .testimonial:first-child {
    margin-right: 1rem;
  }
}

.testimonial:not(:last-child) {
  margin-bottom: 1rem;
}

.testimonial .header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.testimonial .profile-picture {
  border-radius: 50%;
  width: 40px;
  margin-right: 1.5rem;
}

.testimonial .title,
.testimonial .user-role,
.testimonial .comment {
  font-size: 13px;
}

.testimonial .title {
  margin: 0;
  margin-bottom: 4px;
  color: var(--white);
  font-weight: 400;
}

.testimonial .user-role {
  color: var(--soft--pink);
}

.testimonial .comment {
  color: var(--white);
  /* letter-spacing: -1px; */
  line-height: 22px;
}
